.userForm {
    margin-left: 2vw;
}

.label {
    color: #fff;
}

.input {
    height: 3vh;
    border: none;
    color: #333;
    border-radius: 5px;
    background-color: #fff;
}

.input:focus {
    border: 1px solid blueviolet;
}