.container {
    display: grid;
    grid-template-areas:
        "nav main main"
        "nav foot foot";
    grid-template-columns: 15vw auto ;
    grid-template-rows: auto auto;
}

.navbar {
    grid-area: nav;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.main {
    grid-area: main;
    padding: 0 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 95vh;
}

.titleMain{
    font-weight: bold;
}

.userName{
    color: orange;
}

.footer {
    grid-area: foot;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}